# Introduction to pandas

#### What is pandas ?
Pandas is used as data cleaning tool in the field of data science.You can do whatever operation you want in the dataset with<br>  this tool.Now question arises, can we clean or change the value in the dataset manually ? Answer is yes we can if size of   <br>    the dataset is small.What if we have a large dataset then we can not do it manually it will take a lot of time.<br>
Pandas makes data science very easy and effective.

In [1]:
#To use pandas you need to first import the pandas module in your program
import pandas as pd

### Reading CSV and Excel sheets:

    d=pd.read_csv("path"):
    d=pd.read_excel("path") :

`pd.read_csv()` is the function to read the CSV(Comma separated values) file from your computer <br>
`read_csv() `function makes the CSV file into dataframe so that you can access it just like a disctionary.<br>
It is same as the `read_csv()` but it reads excel sheet or file

In [2]:
d=pd.read_csv('Weather_Data.csv')   # returning dataframe object
d          #printing dataframe d

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

#### To see the first five rows call head() function with dataframe object.

In [4]:
d.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

# if you want n no. of rows
d.head(n)

In [6]:
d.head(8)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,1/1/2012 7:00,-1.4,-3.6,85,7,8.0,101.26,Fog

#### last n-rows of dataset call:- tail()

In [7]:
d.tail()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

# if you want last n no. of rows
df.tail(n)

In [9]:
d.tail(8)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8776,12/31/2012 16:00,-1.4,-4.0,82,13,12.9,100.40,Snow
8777,12/31/2012 17:00,-1.1,-3.3,85,19,9.7,100.30,Snow
8778,12/31/2012 18:00,-1.3,-3.1,88,17,9.7,100.19,Snow
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

#### How many rows and columns ?

In [11]:
d.shape

(8784, 8)

In [15]:
# if you only want rows
len(d)

8784

### Slicing in the dataframe

Suppose you want to get 10 rows of the dataframe ranging from row 20 to 30.<br>
[start:end:step]

In [17]:
d[20:31]    #pass 31 because in slicing end no excluded

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
20,1/1/2012 20:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,1/1/2012 21:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,1/1/2012 22:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
28,1/2/2012 4:00,2.9,-2.3,69,32,25.0,99.26,Mostly Cloudy
29,1/2/2012 5:00,2.6,-2.3,70,32,25.0,99.21,Mostly Cloudy
30,1/2/2012 6:00,2.3,-2.6,70,26,25.0,99.18,Mostly Cloudy

### Accesing the particular column of dataframe :

    You can access the particular column of the dataframe just my mentioning its name under quote with dataframe d.
    for example you want to access Humidity column e.i,
    
  `d['columns name']`

In [18]:
d['Visibility_km']            ##column has too many values

0        8.0
1        8.0
2        4.0
3        4.0
4        4.8
        ...
8779     9.7
8780     9.7
8781     4.8
8782     9.7
8783    11.3
Name: Visibility_km, Length: 8784, dtype: float64

In [19]:
##Here i have applied head() function just to see only first 10 values because Visibility 
d['Visibility_km'].head(10)

0    8.0
1    8.0
2    4.0
3    4.0
4    4.8
5    6.4
6    6.4
7    8.0
8    8.0
9    4.0
Name: Visibility_km, dtype: float64

### Finding min, max and average of a column:

 `min() :` To find minimum of a column <br>
`max() :` To find maximum of a column <br>
`mean():` To find average of a column

In [20]:
#Printing minimum value of Visibility
d['Visibility_km'].min()

0.2

In [21]:
#Printing miximum value of Visibility
d['Visibility_km'].max()

48.3

In [22]:
#Printing mean value of Visibility
d['Visibility_km'].mean()

27.66444672131151

## Conditional statements
`d["your column"]["your condition"]`

It will return all the values in which your condition holds true. #### Examples :

Find temp when Visibility is minimum  
` d['Temp_C'][d['Visibility_km']==d['Visibility_km'].min()]`

Find temp when Visibility is maximum

 ` d['Temp_C'][d['Visibility_km']==d['Visibility_km'].max()]`

In [23]:
d

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [25]:
 d['Temp_C'][d['Visibility_km']==d['Visibility_km'].min()]

1826    2.7
1827    1.8
1828    0.3
1830   -0.1
1831    0.5
1832    1.0
1833    1.6
1834    2.6
Name: Temp_C, dtype: float64

In [26]:
 d['Temp_C'][d['Visibility_km']==d['Visibility_km'].max()]

106     -6.0
107     -5.6
108     -4.7
109     -4.4
110     -5.1
        ...
8748   -12.2
8749   -12.4
8750   -11.8
8751   -11.3
8752   -11.4
Name: Temp_C, Length: 2014, dtype: float64

`In the same way you can apply various condition and analyse it hidden features`

### Replacing NaN with specific value

Here i am replacing all NaN value with 0.

In [27]:
d.fillna(0,inplace=True)

In [28]:
d

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow